// article author profile: img + title
.article-profile {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin-top: 12px;

	.profile-img {
		width: 40px;
		border-radius: 50%;
	}

	.profile-name {
		font-size: 12pt;
		margin-left: 6px;
		color: $semi-dark;
	}
}

// article
.article-hero {
	padding-bottom: 0;

	// heading
	h1 {
		font-size: 13pt;
		text-transform: uppercase;
		letter-spacing: 2px;
	}

	h2 {
		font-size: 28pt;
	}
	
	.article-dates {
		margin: 0;
		line-height: 1.5;
		font-size: 11pt;
		text-transform: uppercase;
		letter-spacing: 2px;
		
		time {
			margin-left: 4px;
			font-weight: normal;
		}
	}
}

// article
.article {
	width: 100%;
	padding: 32px 0;
	border-radius: 6px;
	background-color: white;

	.article-title,
	.article-abstract,
	.article-body,
	.article-footer {
		display: block;
		width: 90%;
		margin: 0 auto;
	}

	.article-title {
		text-align: center;
	}
    
	.article-abstract {
		color: $semi-dark;
		*:not(h2) {
			color: $semi-dark;
		}
		line-height: $body-line-height;
	}


	.article-body {
		h2 {
			padding: 0;
			margin: 0;
			margin-top: 24px;
		}

		a {
			color: $primary;
		}

		blockquote {
			background-color: $ultra-light;
			padding: 2px 12px;
			margin: 44px 0;
			border-left: 10px solid $primary;
        }
	}

	.article-footer {
		border-top: 1px solid $med;
		margin-top: 12px;
		padding-top: 12px;

		.article-tags {
			display: inline-block;
			padding: 0;
			margin: 0;
			list-style: none;
			color: $semi-dark;

			li {
				display: inline-block;
				margin-right: 12px;

				.tag {
					border-radius: 6px;
					font-size: 11pt;
					padding: 5px 10px;
					background-color: $ultra-light;
					font-family: consolas, courier, sans-serif;

					&::before {
						content: "#";
					}
				}

				&:first-child {
					margin-left: 0;
				}
			}
		}
	}
}

// article toc
.article-toc {
	h2 {
		font-size: 21pt;
	}

	ul, ol {
		font-size: 13pt;

		li {
			margin-bottom: 12px;

			ul, ol {
				margin-top: 12px;

				li {
					margin-bottom: 6px;

					&:last-child {
						margin-bottom: 0;
					}
				}
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		a {
			box-shadow: none;

			&:hover, :focus {
				box-shadow: 0 2px 0 0 $primary;
			}
		}
	}
}

@media (min-width: $breakpoint) {
	.article {
		max-width: 812px;
	}
}
