button {
	display: block;
    border: none;
    background: none;
	cursor: pointer;
}

.btn,
.btn-link {
	display: block;
	padding: 4px;
	margin: 8px 0;
	font-size: 14px;
	background-color: transparent;
	border-left: 3px solid transparent;
	text-align: center;
}

.btn-primary,
.btn-secondary {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 600;
	border-radius: 3px;
	padding: 6px 12px;
}

.btn-primary {
	background-color: $primary;
	border: 2px solid $primary;
	color: white;
	padding: 8px 12px;
}

.btn-primary:hover,
.btn-primary:focus {
	background-color: transparent;
	border-color: $primary;
	color: $primary;
}

.btn-secondary {
	background-color: transparent;
	border: 2px solid $primary;
	color: $primary;
}

.btn-secondary:hover,
.btn-secondary:focus {
	background-color: $primary;
	color: $ultra-light;
	border-color: $primary;
}

.btn-keyword {
	font-size: 12pt;
}

.btn-keyword:hover,
.btn-keyword:focus,
.btn-keyword.selected {
	color: $primary;
	font-weight: 600;
	border-left-color: $primary;
}

.btn-centered {
	width: 100px;
	margin: 0 auto;
	margin-top: 24px;
}