// dark theme styling

body[data-theme="dark"] {
    color: $ultra-light;

    h1,
    h2,
    h3,
    h4 {
        color: $ultra-light;
    }

    p {
        color: $light;
    }

    a {
        color: $light;
        text-decoration: none;
        box-shadow: 0 2px 0 $ultra-light;
    }

    a.btn {
        box-shadow: none;
    }

    ul,
    ol {
        li {
            color: $light;
        }
    }

    // code highlighting
    :not(pre) > code[class*="language-"], pre[class*="language-"] {
        background: $super-dark;
    }

    // hero image
    .hero-image {
        #dashboard {
            rect#background {
                fill: $semi-dark;
            }
        }
    }

    // menu list
    .menu {
        .menu-item {
            .menu-link {
                &:hover {
                    border-bottom-color: $ultra-light;
                }
            }
        }
    }

    // nav
    .nav {
        background-color: $dark;

        // blank styling for all child elements
        .nav-item {
            background-color: $dark;
            color: $ultra-light;
        }

        // navigation links
        .navigation {
            .menu-item {
                .menu-link {
                    color: $ultra-light;

                    .menu-link-icon {
                        path {
                            fill: $ultra-light;
                        }
                    }
                }
            }
        }

        // menu buttons
        .menu-btns {
            // theme button
            #themeToggle {
                path {
                    fill: $ultra-light;
                }
            }

            // menu button
            #menuBtn {
                .menu-icon {
                    .menu-bar {
                        background-color: $ultra-light;
                    }
                }
            }
        }
    }

    // heros
    .hero {
        background-color: $dark;

        &.hero-text,
        &.article-hero {
            position: relative;
            background-color: $dark;
            overflow: hidden;
            
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $primary-light;
                z-index: 1;
            }

            .hero-content {
                .article-readtime {
                    color: $light;
                }
                .profile-name {
                    color: $light;
                }
            }
        }
    }

    // main section
    .main {
        background-color: $dark;

        .main-section,
        .full-section,
        .filled-section {
            background-color: $dark;
        }
    }

    // posts i.e., cards
    .post {
        background-color: $semi-dark;

        h3 a {
            color: $light;
        }

        .post-tags {
            .tag {
                background-color: $dark;
                color: $ultra-light;
            }
        }
    }

    // index page for tutorials
    .tutorial-index {
        background-color: $dark;

        #reset,
        .post.post-plain .post-link {
            background-color: $primary;
            color: $ultra-light;
        }
    }

    // global sidebar stylings
    .sidebar-layout {
        background-color: $dark;
        .sidebar-panel {
            .sidebar-content {
                background-color: $semi-dark;
            }
        }
    }

    // forms
    .form {
        background-color: $semi-dark;
        p,
        label {
            color: $light;
        }
    }

    #search {
        background-color: $light;
    }

    // buttons
    .btn-keyword {
        color: $ultra-light;
    }
    .btn-keyword:hover,
    .btn-keyword.selected {
        border-left-color: $ultra-light;
    }

    // posts
    .tutorial {
        .sidebar-layout {
            .sidebar-panel {
                .sidebar-content {
                    // background-color: $semi-dark;
                    background-color: $primary-light;
                    a {
                        box-shadow: none;
                        &:hover {
                            box-shadow: 0 2px 0 $light;
                        }
                    }
                }
            }
        }

        // articles
        .article {
            background-color: $dark;

            // force abstract p color
            .article-abstract p {
                color: $light;
            }

            a {
                color: $light;
            }

            // blockquotes
            blockquote {
                background-color: $semi-dark;

                p {
                    color: $ultra-light;
                }
            }
            .article-tags {
                li {
                    code {
                        background-color: $semi-dark;
                    }
                }
            }

            // article tables
            table {
                background-color: $primary-light;
                padding: 6px;
                thead {
                    tr {
                        th {
                            color: $ultra-light;
                            border-bottom-color: $ultra-light;
                        }
                    }
                }
                tbody {
                    tr {
                        background-color: transparent;
                        td {
                            border-bottom: 1px solid $med;
                        }
                        &:nth-child(even) {
                            background-color: transparent;
                        }
                        &:last-child {
                            td {
                                border-bottom: none;
                            }
                        }
                    }
                }
            }
        }
    }

    // datatables
    .datatable {
        background-color: $primary-light;
        padding: 6px;
        thead {
            tr {
                th {
                    color: $ultra-light;
                    border-bottom-color: $ultra-light;
                }
            }
        }
        tbody {
            tr {
                background-color: transparent;
                td {
                    border-bottom: 1px solid $med;
                    color: $ultra-light;

                    &:last-child {
                        border-bottom: none;
                    }
                }
                &:nth-child(even) {
                    background-color: transparent;
                }
            }
        }
    }

    @media (min-width: $breakpoint) {
        .datatable {
            tbody {
                tr {
                    td {
                        &:last-child {
                            border-bottom: 1px solid $med;
                        }
                    }
                    &:last-child {
                        td {
                            border-bottom: none;
                        }
                    }
                }
            }
        }
    }
}
