.main {
	padding: 0;
	min-height: 60vh;

	.full-section {
		width: 100%;

		.full-section-content {
			width: 90%;
			margin: 0 auto;
		}
	}

	.main-section {
		width: 90%;
		padding: 24px 0;
		margin: 0 auto;
	}

	// latest tutorials section on index.js (home page)
	.filled-section {
		padding: 44px 0;

		&:not(.welcome-section){
			background-color: $ultra-light;

			p:not(.post-desc) {
				text-align: center;
			}
		}

		h2 {
			text-align: center;
			text-transform: uppercase;
			letter-spacing: 2px;
			padding: 0;
			margin: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}

		&.welcome-section {
			p {
				max-width: 812px;
				margin: 0 auto;
			}
		}
	}
}

@media (min-width: $breakpoint) {
	.main {

		.full-section {
			.full-section-content {
				max-width: 972px;
			}
		}
		.main-section {
			max-width: 972px;
		}
	}
}
