.post {
	padding: 32px;
	border-radius: 6px;

	.post-image {
		background-position: center center;
		background-size: cover;
		margin-bottom: 12px;
	}

	.post-title, .post-title-link {
		position: relative;
	}

	.post-title {
		margin: 0;
		padding: 0;
	}

	.post-title-link a {
		color: $dark;
		box-shadow: 0 1px 0 $semi-dark;
	}

	.post-status {
		position: relative;
		left: 24px;
		top: -2px;
		font-size: 11pt;
		text-transform: uppercase;
		font-weight: 600;
		letter-spacing: 2px;
		padding: 3px 6px;
		border-radius: 6px;
		background-color: $ultra-light;

		&[data-value="New"]{
			background-color: $primary-light;
			color: $primary;
		}

		&[data-value="Popular"] {
			background-color: $secondary-light;
			color: $secondary;
		}

		&[data-value="Favorite"] {
			background-color: $tertiary;
			color: $light;
		}

		
	}

	.post-desc {
		padding: 0;
		margin: 0;
		margin-bottom: 6px;
		width: 100%;
	}

	.post-date {
		display: inline-block;
		color: $semi-dark;
		font-size: 11pt;
		font-family: consolas, courier, sans-serif;
		margin-right: 12px;
	}

	.post-tags {
		display: block;
		padding: 0;
		margin: 0;
		margin-bottom: 16px;
		list-style: none;
		color: $semi-dark;

		li {
			display: inline-block;
			margin-right: 12px;

			.tag {
				border-radius: 6px;
				font-size: 11pt;
				padding: 5px 10px;
				background-color: $ultra-light;
				font-family: consolas, courier, sans-serif;

				&::before {
					content: "#";
				}
			}

			&:first-child {
				margin-left: 0;
			}
		}
	}

	.post-link {
		display: block;
		text-align: center;
		text-transform: uppercase;
		font-size: 12pt;
		letter-spacing: 2px;
		text-decoration: none;
		border-radius: 4px;
		padding: 6px 0;
		font-weight: 600;
		box-shadow: none;

		&:hover {
			text-decoration: underline;
		}
	}

	&.post-feature {
		margin: 16px auto;
		background-color: white;
		
		.post-link {
			margin: 0 auto;
			border: 1px solid $primary;
			background-color: $primary;
			color: white;
		}
	}

	&.post-plain {
		background-color: white;
		margin-bottom: 16px;

		.post-link {
			border: 1px solid $primary;

			&:hover {
				background-color: $primary;
				color: white;
			}
		}
	}

	&.no-results-post {
		text-align: center;
	}
}

.post-form {
	padding: 32px;
	border-radius: 0 0 6px 6px;
	background-color: white;
	border-top: 4px solid $primary;
	margin-bottom: 16px;

	.input-label {
		display: block;
		padding: 0;
		margin: 0;
		font-size: 18pt;
		color: $semi-dark;
		font-weight: 600;
	}

	.input-example {
		line-height: 1.5;
		padding: 0;
		margin: 0;
		font-size: 12pt;
		color: $semi-dark;
		margin-bottom: 12px;
	}
}

@media screen and (min-width: 972px) {
	.post {
		max-width: $post-width;

		&.post-plain {

			.post-tags,
			.post-link {
				display: inline-flex;
				justify-content: center;
				align-items: center;
			}

			.post-link {
				width: 125px;
				float: right;
			}
		}
	}

	.post-form {
		max-width: $post-width;
	}
}
