
//COLORS
$super-dark: rgb(19, 20, 27);
$dark: #2a2c32;
$semi-dark: #3f454b;
$med: #a3a6a8;
$light: #d8d8d8;
$ultra-light: #f6f6f6;
$pure-light: #ffffff;
$primary: #5177b8;
$primary-light: hsla(218, 42%, 52%, 0.1);
$secondary: #218573;
$shadow: hsla(0, 0%, 0%, 0.18);
//END COLORS

$body-line-height: 1.6;
$heading-line-height: 1.3;

$breakpoint: 972px;
$post-width: 872px;