
//COLORS
$dark: #2a2c32;
$semi-dark: #3f454b;
$med: #a3a6a8;
$light: #d8d8d8;
$ultra-light: #f6f6f6;
$pure-light: #ffffff;
$primary: #5177b8;
$secondary: #218573;
//END COLORS

$body-line-height: 1.8;
$heading-line-height: 1.4;