@import "_variables";
.footer {
	margin: 0;
	padding: 62px 0;
	background-color: $dark;

	h2 {
		display: block;
		width: 85%;
		margin: 0 auto;
		padding-top: 12px;
		color: $light;
		letter-spacing: 2.5px;
	}

	.menu {
		list-style: none;
		width: 85%;
		margin: 12px auto;
		padding: 0;

		.menu-item {
			.menu-link {
				color: $light;
				box-shadow: none;

				.menu-link-icon {
					path {
						fill: $light;
					}
				}

				&:hover {
					border-bottom-color: $light;
				}
			}
		}
	}
}
