@import "_variables";
.hero {
	width: 100%;
	padding: 44px 0;
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	background-color: $pure-light;
	overflow: hidden;

	&.hero-index {
		
		.hero-content {
			width: 90%;
			margin: 0 auto;
			padding: 72px 0;
			z-index: 2;

			h1 {
				font-size: 21pt;
				letter-spacing: 2.5px;
			}

			h2 {
				font-weight: 600;
				font-size: 32pt;
				letter-spacing: 2px;
				line-height: 1.2;
			}

			time {
				font-size: 16px;
				font-weight: 600;
			}

			.hero-image {
				display: block;
				width: 300px;
				margin: 44px auto;
				-webkit-box-shadow: 0 12px 3px -6px $shadow;
				box-shadow: 0 12px 3px -6px $shadow;
			}
		}
	}

	&.hero-text {
		.hero-content {
			width: 90%;
			margin: 0 auto;
			padding: 82px 0;
			padding-bottom: 0;

			p {
				margin: 0;
			}
		}
	}

	&.hero-style-1 {
		background-image: url(../images/hero-bk-gray.svg);
		background-size: cover;
		// background-position: 50% 50%;
		background-position: 50% 100%;
		background-repeat: no-repeat;
	}
}

@media screen and (min-width: 972px) {
	.hero {
		&.hero-index,
		&.hero-text {
			.hero-content {
				width: 100%;
				max-width: 912px;

				.hero-image {
					-webkit-transform: scale(1.25);
					-ms-transform: scale(1.25);
					transform: scale(1.25);
				}
			}
		}
	}
}
