@import "_variables", "_fonts", "_base";
@import "_buttons", "_nav","_menu_links", "_footer", "_post", "_hero", "_flex", "_article", "_main", "_sidebar", "_menuBtn", "_datatable";

// tutorial index page (/tutorials/)
.tutorial-index {
	padding: 0;
	padding-bottom: 66px;
	background-color: $ultra-light;

	// styling for index.js - list of posts
	.tutorial-index-posts {
		padding: 32px 0;

		h2 {
			padding-left: 32px;
			margin-bottom: 32px;
		}
	}
}

// styling for posts
.tutorial {
	padding: 50px 0;
	background-color: $ultra-light;
}

// about page
.about-page {
	#repos {
		thead {
			th {
				&:nth-child(n + 4) {
					text-align: left;
				}
			}
		}

		.column-4,
		.column-5,
		.column-6 {
			text-align: left;
		}
	}
}

@media (min-width: $breakpoint) {
	// index page styles
	.related-projects,
	.tutorial-latest {
		.post.post-feature {
			max-width: 40%;

			&:nth-child(odd) {
				margin-right: 32px;
			}
		}
	}
	.tutorial-index {
		.tutorial-index-posts {
			padding-top: 82px;
		}
	}
	&.about-page {
		#repos {
			thead {
				th {
					&:nth-child(n + 4) {
						text-align: right;
					}
				}
			}

			.column-4,
			.column-5,
			.column-6 {
				text-align: right;
			}
		}
	}

	// set the width of the gallery page link
	.gallery-page {
		.post {
			.post-link {
				width: 250px;
			}
		}
	}
}
