@import "_variables";

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
		Helvetica Neue, sans-serif;
	cursor: default;
	font-size: 16pt;
}

header,
main,
footer,
article,
aside,
nav {
	padding: 0;
	margin: 0;
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	display: block;
	color: $dark;
	line-height: $heading-line-height;
	margin: 0;
	padding: 0;
	margin-bottom: 6px;
}

p {
	color: $semi-dark;
	line-height: $body-line-height;
}

li {
	color: $semi-dark;
	line-height: $heading-line-height;
}

a {
	color: $primary;
	text-decoration: none;
	box-shadow: 0 1px 0 $primary;
}

blockquote {
	line-height: $body-line-height;
}

.form {
	display: block;
	padding: 32px 0;
	background-color: $pure-light;
	border-bottom: 1px solid $light;

	.input-label {
		display: block;
		padding: 0;
		margin: 0;
		font-size: 18pt;
		color: $semi-dark;
		font-weight: 600;
	}

	.input-example {
		line-height: 1.5;
		padding: 0;
		margin: 0;
		font-size: 12pt;
		color: $semi-dark;
		margin-bottom: 12px;
	}
}

input {
	-webkit-appearance: none;
	appearance: none;
	display: block;
	width: 90%;
	font-size: 12pt;
	padding: 8px;
	padding-left: 12px;
	border-radius: 0px;
	border: none;
	background-color: $ultra-light;
	-webkit-box-shadow: inset 0 2px 2px $light;
	box-shadow: inset 0 2px 2px $light;
}

button {
	-webkit-appearance: none;
	appearance: none;
	display: block;
	border: none;
	outline: none;
	cursor: pointer;
}

.btn {
	padding: 4px;
	margin: 8px 0;
	font-size: 14px;
	background-color: transparent;
	border-left: 3px solid transparent;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.btn-primary,
.btn-secondary {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 600;
	border-radius: 3px;
	padding: 6px 12px;
}

.btn-primary {
	background-color: $primary;
	border: 2px solid $primary;
	color: white;
	padding: 8px 12px;
}

.btn-primary:hover,
.btn-primary:focus {
	background-color: $light;
	border-color: $primary;
	color: $primary;
}

.btn-secondary {
	background-color: transparent;
	border: 2px solid $primary;
	color: $primary;
}

.btn-secondary:hover,
.btn-secondary:focus {
	background-color: $primary;
	color: $ultra-light;
	border-color: $primary;
}

.btn-keyword {
	font-size: 12pt;
}

.btn-keyword:hover,
.btn-keyword:focus,
.btn-keyword.selected {
	color: $primary;
	font-weight: 600;
	border-left-color: $primary;
}

img {
	display: block;
	width: 100%;
}

pre code {
	display: block;
	padding: 6px 8px;
	font-size: 12pt;
}

div.gatsby-highlight {
	margin: 32px 0;
}

.icon {
	display: inline-block;
	width: 20px;
	height: 20px;
}

.post-meta-tags {
	display: inline-block;
	padding: 0;
	margin: 0;
	margin-left: 18px;
	list-style: none;
	color: $semi-dark;

	li {
		display: inline;
		margin-left: 12px;

		.tag {
			border-radius: 6px;
			font-size: 11pt;
			padding: 5px 10px;
			background-color: $ultra-light;
			font-family: consolas, courier, sans-serif;

			&::before {
				content: "#";
			}
		}
	}
}

table {
	width: 100%;
	margin: 6px auto;
	font-weight: normal;
	border-spacing: 0;
	text-align: left;
	margin-top: 8px;
  }
  
  table thead tr th {
	font-weight: 600;
	text-transform: uppercase;
	font-size: 14px;
	padding: 4px 12px;
	border-bottom: 1px solid $dark;
  }
  
  table tbody tr td {
	padding: 24px 12px;
  }
  
  table tbody tr:nth-child(even) {
	background-color: $ultra-light;
  }

@import "flex";
